@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@900&family=Rajdhani:wght@600&display=swap');

* {
  box-sizing: border-box;
}

#titol{
    height:30vh;
}

html {
  --dark-gray: rgb(90, 90, 90);
  --light-gray: rgb(148, 148, 148);
  --focus-blue: rgb(69, 159, 189);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
  margin: 0;
  background-color: #e12835;
  background-size: 120%;
  background-position: center;
  font-family: 'Barlow Condensed', sans-serif;
  animation: tighten-vinette ease-out 1800ms forwards;
}
.images {
  pointer-events: none;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 20;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-image: url('https://wallpapercave.com/wp/wp2436369.jpg');
}
.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  cursor: pointer;
  text-align: center;
}
.logo:hover .restart {
  opacity: 0.8;
}
.restart {
  color: #fff;
  margin-top: 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -0.08rem;
  transition: opacity 150ms linear;
}
.marvel, .studios {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
  font-size: 5rem;
  margin: 0.05rem 0.05rem 0.5rem;
  padding: 0 0.4rem;
  display: inline-block;
}
.studios {
  font-weight: 500;
  letter-spacing: -0.3rem;
  transform: translateX(-95px);
}
.marvel {
  z-index: 10;
  font-weight: 800;
  transform: translateX(95px);
}
.marvel:before {
  z-index: -10;
  content: '';
  display: block;
  background-color: #e12835;
  border: solid rgba(255, 255, 255, .2) 1px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.studios:after, .studios:before {
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  background-color: #fff;
  display: block;
  left: 0.4rem;
  right: 0.4rem;
}
.studios:before {
  top: 0;
}
.studios:after {
  bottom: 0;
}
.wrapper.run-animation {
  animation: shrink ease-out 4800ms forwards 600ms;
}
.wrapper.run-animation .marvel {
  transform: translateX(95px);
  animation: slide-out-X 750ms ease forwards;
}
.wrapper.run-animation .studios {
  transform: translateX(-95px);
  color: transparent;
  animation: slide-out-X 750ms ease forwards, show-text 300ms linear forwards 1500ms;
}
.wrapper.run-animation .studios:before {
  transform: translateY(2.9rem);
  animation: slide-out-Y 300ms ease forwards 750ms;
}
.wrapper.run-animation .studios:after {
  transform: translateY(-2.9rem);
  animation: slide-out-Y 300ms ease forwards 750ms;
}
.wrapper.run-animation .restart {
  opacity: 0;
  animation: fade-down 1200ms ease 3600ms forwards;
}
.wrapper.run-animation ~ .images {
  animation: flicker-images 1500ms 2 steps(1, end), fade-out 4500ms forwards;
}
@keyframes slide-out-X {
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-out-Y {
  100% {
    transform: translateY(0);
  }
}
@keyframes show-text {
  100% {
    color: #fff;
  }
}
@keyframes shrink {
  100% {
    transform: scale(0.8);
  }
}
@keyframes tighten-vinette {
  100% {
    background-size: 120%;
  }
}
@keyframes fade-down {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}
@keyframes fade-out {
  100% {
    opacity: 0;
  }
}
@keyframes flicker-images {
  0% {
    background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
  }
  10% {
    background-image: url('https://doomrocket.com/wp-content/uploads/2014/08/IMG_4527.png');
  }
  20% {
    background-image: url('https://www.nerdmuch.com/wp-content/uploads/2016/02/funny-deadpool.jpg');
  }
  30% {
    background-image: url('https://i.pinimg.com/736x/b4/e0/d5/b4e0d51ab9af14198f733ca582d06794--geek-things-geek-art.jpg');
  }
  40% {
    background-image: url('https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/3025621-poster-p-1-ka-pow-marvel-opens-massive-comic-book-images-archive-and-api-to-fans-developers.jpg');
  }
  50% {
    background-image: url('http://nerdist.com/wp-content/uploads/2015/03/captain-america-iron-man-civil-war-1024x597.jpg');
  }
  60% {
    background-image: url('https://geekreply.com/wp-content/uploads/2015/05/watchmen.jpg');
  }
  70% {
    background-image: url('http://cdn.playbuzz.com/cdn/3c096341-2a6c-4ae6-bb76-3973445cfbcf/6b938520-4962-403a-9ce3-7bf298918cad.jpg');
  }
  80% {
    background-image: url('https://static1.cbrimages.com/wordpress/wp-content/uploads/2021/07/Black-Panther-and-Storm-wedding.jpg?q=50&fit=contain&w=1140&h=&dpr=1.5');
  }
  90% {
    background-image: url('https://am21.akamaized.net/tms/cnt/uploads/2014/01/Black-Widow-70s-Suit-3-580x270.jpg');
  }
  100% {
    background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
  }
}

.caixaCerca {
  margin-bottom: 20px;
  --target-size: 50px;
  --box-height: var(--target-size);
  height: var(--box-height);
  --border-width: 2px;
  --border-radius: calc(var(--box-height) / 2);
  max-width: 800px;
  width: 350px;
  --icon-size: calc(var(--box-height) * 3 / 4);
  --side-margin: calc(var(--border-radius) / 2);
  position: relative;
  --icon-vertical-margin: calc(
    (var(--box-height) - var(--icon-size)) / 2
  );
}

.caixaCerca input[type='search'] {
    border: var(--border-width) solid var(--dark-gray);
    border-radius: var(--border-radius); 
    height: 100%;
    width: 100%;
    -webkit-appearance: none; /* for Safari */
    color: white;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 1rem;
    padding-left: calc(var(--side-margin) + var(--icon-size) + 4px);
    padding-right: var(--side-margin);
    background: rgba(0,0,0,0.2);
}

.caixaCerca i {
    color: white;
    fill: var(--dark-gray);
    height: var(--icon-size);
    width: var(--icon-size);
    position: absolute;
    left: var(--side-margin);
    top: var(--icon-vertical-margin);
    bottom: var(--icon-vertical-margin);
    z-index: -1;
    font-size:32px;
}

.caixaCerca input[type='search']::placeholder {
  color: white;
  opacity: 1;
}

input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.caixaCerca input[type='search']:focus {
  border-color: var(--focus-blue);
  box-shadow: 0px 0px 5px var(--focus-blue);
  outline: 1px solid transparent;
}

.llista{
    width:80%;
    margin-left:10%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Montserrat',sans-serif;
}

.heroi,.informacio{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.heroi{
    width:250px;
    background-color: #212F3C;
    padding:10px;
    border-radius:20px;
}

.heroi:hover{
    box-shadow: 0px 0px 20px #888888;
}

.informacio{
    gap:10px;
    width:100%;
}

.nom{
    font-weight: bold;
    color:white;
    text-align: center;
}

.imatge img {
    width:100%;
    border-radius: 20px;
}

.url {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
}